# 판다스심화

## 데이터프레임 정렬

In [ ]:
import numpy as np
import pandas as pd
print("DataFrame: ")
data = {"col1":[2,1,9,8,7,4],
        "col2":['A','A','B',np.nan,'D','C'],
        "col3":[0,1,9,4,2,3]
}
index = [1,3,2,5,0,4]
df = pd.DataFrame(data,index)
df

In [ ]:
df = df.sort_index(axis=0)
#axis는 열행을 나타낸다 0행 1열
df

In [ ]:
df = df.sort_index(axis=1 , ascending =False)
#ascending는 오름차순을 나타낸다. 1행을 내림차순으로 나열이란 뜻 ↑
#descending은 내림차순을 나타낸다.
df

In [ ]:
#sort_value
sorted_df1 = df.sort_values("col1", ascending = 1)
sorted_df1

In [ ]:
#sorted_values 2
sorted_df2 = df.sort_values(['col2','col1'],ascending = [1,0])
sorted_df2

## 데이터분석용 함수

In [ ]:
import numpy as np
import pandas as pd
data ={
    "korean":[50,60,70,30],
    "math":[30,np.nan,40,20]
}
df = pd.DataFrame(data, index = ['a','b','c','d'])
print(df.index)
print(df.columns)
df

In [ ]:
# count()함수
print(df.count(axis=0)) #axis = 0 기본값(생략가능)
print(df.count(axis=1))

In [54]:
# max().min().sum().mean()

print(df.max())
print(df.max(axis=1))
print("="*20)
print(df.min())
print(df.min(axis=1))
print("="*20)
print(df.sum())
print(df.sum(axis=1))
print("="*20)
print(df.mean())
print(df.mean(axis=1,skipna=False))
#skipna는 NaN값을 포함할지 말지 고르는 기능이다. True는 빼고 False는 넣고이다.

korean    70.0
math      40.0
dtype: float64
a    50.0
b    60.0
c    70.0
d    30.0
dtype: float64
====================
korean    30.0
math      20.0
dtype: float64
a    30.0
b    60.0
c    40.0
d    20.0
dtype: float64
====================
korean    210.0
math       90.0
dtype: float64
a     80.0
b     60.0
c    110.0
d     50.0
dtype: float64
====================
korean    52.5
math      30.0
dtype: float64
a    40.0
b     NaN
c    55.0
d    25.0
dtype: float64

In [57]:
#결측값 대체 fillna
avg = df["math"].mean()
df["math"]=df["math"].fillna(avg)
df

   korean  math
a      50  30.0
b      60  30.0
c      70  40.0
d      30  20.0

## 그룹으로 묶기 groupby

In [10]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    'key':['A','B','C','A','B','C'],
    'data1':[1,2,3,1,2,3],
    'data2':[4,4,6,0,6,1],
    #'data3':['안녕','a','ba','하세요','pple','nana']
})
print("DataFrame: ")
df

DataFrame:

  key  data1  data2
0   A      1      4
1   B      2      4
2   C      3      6
3   A      1      0
4   B      2      6
5   C      3      1

In [67]:
df.groupby('key').sum()

     data1  data2  data3
key
A        2      4  안녕하세요
B        4     10  apple
C        6      7  bnana

In [6]:
df.groupby(['key','data1']).sum().reset_index()

  key  data1  data2   data3
0   A      1      4   안녕하세요
1   B      2     10   apple
2   C      3      7  banana

In [13]:
df.groupby('key').aggregate(['min','median','max'])

    data1            data2
      min median max   min median max
key
A       1    1.0   1     0    2.0   4
B       2    2.0   2     4    5.0   6
C       3    3.0   3     1    3.5   6