# 내장함수

In [ ]:
#abs★

abs(-3)
#어떤 함수를 받아도 무조건 절대값으로 리턴하는 값

In [ ]:
#all★

print(all([1,2,3]))

print(all([11,22,33,44,0]))
#and와 성질이 같다. 단 한개라도 0이면 false값을 낸다.

print(all([]))
#and의 특징으로는 아무것도 없으면 True값을 낸다

In [ ]:
#any★

print(any([1,2,3,0]))
#or과 성질이비슷하다. 하나만 참이면 True값을 낸다.

print(any([0,"",[],False]))
#all과 반대로 빈배열은 False값을 띈다.

In [ ]:
#chr 유니코드로 값 출력
print(chr(97))
print(chr(44034))
# 유니코드를 입력하면 그거에 해당하는 값을 도출시킨다.
#ord 유니코드 출력
print(ord("A"))
print(ord("가"))

In [ ]:
#dir★
dir([1,2,3])
#해당하는 값이 가진 기능을 볼 수 있음

In [ ]:
#divmod
divmod(4,2)
#값 a,b 두가지를 지정해서 몫과 나머지를 튜플화 시켜서 리턴한다.

In [ ]:
#enumerate★★
fruit = ["apple","kiwi","banana","cherry"]
for f in fruit:
    print(f)

for n,m in enumerate(fruit, start=0):
    print(n,"순위 과일은?",m)

#enumerate는 for문에서 사용되고 값을 꺼낼 때 앞에 인덱스값을 같이 꺼내준다.

In [ ]:
#eval
eval("1+2")
#문자열로 입력되어있는 표현식을 입력으로 받아 해당 문자열을 실행한
#결과값을 리턴하는 함수

In [8]:
#filter★
def positive(I):
    result = []
    for i in I:
        if i > 0:
            result.append(i)
    return result
print(positive([1,2,3,4]))

def positive_1(I):
    return I > 0
print(list(filter(positive_1 , [1,2,3,4])))
#filter을 사용하면 함수에 값을 한개씩 집어넣을 때 참인 경우에만 불러낸다.
#필터를 사용할 떈 필터(함수, 반복가능데이터)형식으로 만든다.
l = [1,2,3,4]
list(filter(lambda x : x > 0, l))

[1, 2, 3, 4]
[1, 2, 3, 4]

[1, 2, 3, 4]

In [22]:
#hex, oct, bin
print(hex(123))
print(oct(123))
print(bin(123))
# hex 정수를 입력받으면 그 값을 16진수로 바꿔준다
# oct 정수를 입력받으면 그 값을 8진수로 바꿔준다
# bin 정수를 입력받으면 그 값을 2진수로 바꿔준다.

0x7b
0o173
0b1111011

In [25]:
#id
a = 3
b = a
print(id(a))
print(id(3))
print(id(b))
#값을 입력받으면 그 값의 대한 고유값(래퍼런스)를 출력시킨다.

140726719874024
140726719874024
140726719874024

In [ ]:
#input,int ★

#input은 str으로 값을 전달하므로 계산식에 적용할 떈 int나 float로 
#값의 형태를 바꿔줘야한다.
#int는 정수로 변환, 소수점이 사라진다
#float 실수를 표현하기에 소수점까지 나타냄

In [27]:
#isinstance

class Person:
    def p(self):
        return ("안녕하세요")
a = Person()
print(isinstance(a,Person))
print(isinstance(b,Person))
#인스턴스 확인용 함수이다. 어떤 클래스의 인스턴스가 맞는지 확인 할 수있다
#isinstance(odject, class) 인스턴스가 맞으면 참 틀리면 거짓을 낸다

True
False

In [28]:
#len ★★
print(len("python"))
print(len([1,2,3,4]))
print(len((1,2,3,4)))

6
4
4

In [29]:
#list ★★

In [ ]:
#map★
def two_items(num):
    result = []
    for number in num:
        result.append(number*2)
    return result

result = two_items([1,2,3,4])
print(result)

#리스트 컴프리헨션으로 변경시켜 보자
def two(n):
    return [n*2 for n in n]
two([1,2,3,4])

#map은 입력과 출력의 값이 같다. 

def two_item(x):
    return x*2

list(map(two_item,[1,2,3,4]))
#map(함수, 값) map은 함수에 값을 적용한 결과를 만들어 낸다.

In [39]:
#테스트
li = [1,2,3,4,5,6]

def odd(x):
    return x%2 !=0
def even(x):
    return x%2 == 0
def add(x):
    return x +10
def mul(x):
    return x*x
def addmul(x):
    return (x+10)*x

print(list(filter(odd, li)))
print(list(filter(even, li)))
print(list(map(add, li)))
print(list(map(mul, li)))
print(list(map(addmul, li)))
#필터는 참 거짓만 골라내기 때문에 그냥 산수에는 관심이 없어 리스트값을
#그냥 꺼내온다.
#그래서 값을 받아오기 위해선 map을 사용하는게 좋다

[1, 3, 5]
[2, 4, 6]
[11, 12, 13, 14, 15, 16]
[1, 4, 9, 16, 25, 36]
[11, 24, 39, 56, 75, 96]

In [41]:
#max , min ★
li = [1,2,3,4,5]
print(max(li))
print(min(li))

#max , min(문자일경우) ★
max("python")
min("python")
# 문자열을 입력할 경우 유니코드로 값을 바꿔 최대, 최소값을 꺼낸다.

5
1

'h'

In [ ]:
#open ★
f = open('README.md',"w")
# 파일명과 모드를 설정하여 파일에 값을 추가하거나 파일의 값을 불러오는것
# 등 여러가지가 가능하다.

<table>
<thead>
<tr>
<th>mode</th>
<th>설명</th>
</tr>
</thead>
<tbody>
<tr>
<td>w</td>
<td>쓰기 모드로 파일 열기</td>
</tr>
<tr>
<td>r</td>
<td>읽기 모드로 파일 열기</td>
</tr>
<tr>
<td>a</td>
<td>추가 모드로 파일 열기</td>
</tr>
<tr>
<td>b</td>
<td>바이너리 모드로 파일 열기</td>
</tr>
</tbody>
</table>

In [42]:
#pow★

print(pow(2,4))
print(pow(3,5))
#pow(a,b) a을 b제곱한결과를 리턴한다.

16
243

In [44]:
#range ★★
#인수가 하나
print(list(range(5)))
#지정한 값 미만까지 리턴한다.

#인수가 둘
print(list(range(1,10)))
#a 이상 b 미만 값을 리턴한다.

#인수가 셋
print(list(range(1,10,2)))
print(list(range(1,10,-1)))
#리턴값의 범위와 순서를 정한다. 양수일 경우 수만큼 띄우기 음수일경우
#거꾸로 감

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[]

In [46]:
#round ★

#인수가 하나
print(round(3.49999))
print(round(3.5))
print(round(3.768))
#반올림 해주는 함수가 된다.

#인수가 둘
print(round(3.768,2))
print(round(3.14343,1))
print(round(3.545324,3))
#round(a,b) a를 소수점 b자리까지 리턴한다. 
#인자의 따라 사용방법이 완전히 바뀌므로 주의

3
4
4
3.77
3.1
3.545

In [52]:
#sorted ★
print(sorted([2,3,1,5,3,6,3]))
print(sorted(["a","d","w","p","b"]))
print(sorted("python"))
print(sorted((1,4,2,5)))

a = [3,6,5,2,5,7]
print(sorted(a))
print(a)

#입력한 데이터를 정렬 한 후 리스트로 리턴하는 함수
#값을 바꾸긴 하지만 원본의 형태는 유지를 한다.

[1, 2, 3, 3, 3, 5, 6]
['a', 'b', 'd', 'p', 'w']
['h', 'n', 'o', 'p', 't', 'y']
[1, 2, 4, 5]
[2, 3, 5, 5, 6, 7]
[3, 6, 5, 2, 5, 7]

In [54]:
#str ★ 문자열로 변환
print(str(123)+str(456))
print(123+456)

123456
579

In [56]:
#sum ★
print(sum([1,2,3]))
print(sum([11,22,33]))
#입력 데이터의 합을 구해준다.

6
66

In [58]:
#tuple ★ 튜플로 바꿔줌

In [60]:
#type ★★ 
print(type("abc"))
print(type(1234))
print(type(open("README.md","r"))) # 파일 자료형

<class 'str'>
<class 'int'>
<class '_io.TextIOWrapper'>

In [67]:
# zip ★★

fruit = ["apple","kiwi","banana","cherry","mango"]
animal = ["cat","dog","elephant","monky","lion"]
for f, a,  in zip(fruit, animal):
    print(f, ":",a)
# 동일한 갯수로 이루어진 데이터를 묶어서 값을 리턴한다.

apple : cat
kiwi : dog
banana : elephant
cherry : monky
mango : lion

# 표준 라이브러리

## datetime.date

In [81]:
#datetime.date

import datetime
day1 = datetime.date(2025,2,3)
day2 = datetime.date(2025,7,25)
diff = day2-day1
print("전체 수업기간 :",diff.days,"일")
diff2 = day2 - datetime.datetime.now().date()
print("남은 수업기간 :",diff2.days,"일")
print("지난 수업기간 :",diff.days - diff2.days,"일")

전체 수업기간 : 172 일
남은 수업기간 : 157 일
지난 수업기간 : 15 일

In [74]:
datetime.datetime.now().date()

datetime.date(2025, 2, 18)

In [89]:
#요일 확인 
days = ["월","화","수","목","금","토","일"]
day = datetime.date(2025,9,4)
print(f"그 날은 {days[day.weekday()]}요일 입니다.")

그 날은 목요일 입니다.

## time

In [93]:
#time.time
import time
time.time()

1739855613.86009

In [102]:
# time.localtime
tt = time.localtime(time.time())
print(tt)

time.struct_time(tm_year=2025, tm_mon=2, tm_mday=18, tm_hour=14, tm_min=15, tm_sec=37, tm_wday=1, tm_yday=49, tm_isdst=0)

In [103]:
#time.asctime
time.asctime(time.localtime(time.time()))

'Tue Feb 18 14:16:22 2025'

In [104]:
#time.ctime
time.ctime()

'Tue Feb 18 14:16:40 2025'

In [109]:
#time.strftime
time.strftime("%x",time.localtime(time.time()))
time.strftime("%X",time.localtime(time.time()))
time.strftime("%c",time.localtime(time.time()))

'Tue Feb 18 14:19:48 2025'

In [111]:
#time.sleep
import time as t
for i in range(1,11):
    print(i)
    t.sleep(1)
    #초를 선택해 값이 나오는 간격을 구함

1
2
3
4
5
6
7
8
9
10

## math.gcd , math.lcm

In [112]:
import math

In [113]:
print(math.gcd(60,100,80))
print(math.lcm(7,10,15))
print(math.pi)

20
210
3.141592653589793

## random

In [118]:
import random as r
r.random() # 0.0에서 1.0사이의 소수
r.randint(1,10)

9

In [130]:
#r.choice(데이터값을 랜덤으로 뽑아온다.)
data = [11,22,33,44,55]
for n in range(len(data)):
    print(r.choice(data))

22
44
11
55
22

In [132]:
#r.sample(지정 된 값을 랜덤으로 차례차례로 뽑아준다.)
li = list(range(1,21))
arr = []
for n in r.sample(li,len(li)):
    arr.append(n)
print(arr,len(arr))
sarr = set(arr)
print(sarr,len(sarr))

[12, 5, 18, 11, 1, 2, 15, 16, 20, 3, 7, 4, 6, 19, 10, 13, 9, 14, 8, 17] 20
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20} 20