# 자료형

## 리스트 자료형

### 리스트의 인덱싱과 슬라이싱

In [1]:
odd = [1,3,5,7,9]

In [1]:
a = []
b = [1,2,3]
c = ["Life","is"]
d = [1,2,"Life","is"]
e = [1,2,["Life","is"]]
print(e[2][0])
print(e[2])

Life
['Life', 'is']

In [3]:
print(b[1]+b[2])
print(c[0]+c[1])
print(c[0]*2)
print(c[-1])

5
Lifeis
LifeLife
is

In [1]:
# 리스트의 슬라이싱
a = [11,22,33,44,55]
print(a[:2])
print(a[:])
print(a[::-1])
print(a[::2])

[11, 22]
[11, 22, 33, 44, 55]
[55, 44, 33, 22, 11]
[11, 33, 55]

In [2]:
a = [1,2,3,4,5]
print(a[1:3])

[2, 3]

### 리스트 연산, 수정, 삭제하기

In [3]:
a = [11,22,33]
b = [44,55,66]
#리스트 더하기
print(a+b)
#리스트 반복하기
print(a*3)
c = a*3
#리스트 길이 구하기
print(c)
len(c)

[11, 22, 33, 44, 55, 66]
[11, 22, 33, 11, 22, 33, 11, 22, 33]
[11, 22, 33, 11, 22, 33, 11, 22, 33]

9

In [ ]:
#리스트 값 수정하기
a = [11,22,33]
a[2] = 44
print(a)

#a[3] = 5 없는 요소를 수정 할 수는 없다.
#print(a) 
del a [1]
#리스트에서 확실하게 없앨려면 del을 붙여 배열을 지정하면 된다.
print(a)

In [1]:
#슬라이싱으로 리스트 값 삭제하기
c = [11, 22, 33, 11, 22, 33, 11, 22, 33]
del c [:4]
print(c)

[22, 33, 11, 22, 33]

### 리스트 관련 함수

In [ ]:
dir(list)

In [ ]:
#리스트 요소 지우기
c.clear()
print(c)

In [4]:
#리스트요소 추가하기
a=[]

a.append(4)
a.append([11,22])
print(a)
c = a.index()
print(c)

[4, [11, 22]]

ValueError: -1 is not in list

In [ ]:
g = []

In [ ]:
num += 1
g.append(num)
print(g)

In [3]:
#리스트 정렬(오름차순) sort
a = [11,44,33,22,55]
#리스트는 순서가 굉장히 중요하다 하지만 sort는 그 순서를 부셔버리기 떄문에 
#사용에 주의를 줘야한다. 
a.sort()
print(a)

[11, 22, 33, 44, 55]

In [ ]:
#리스트 정렬(내림차순) sort
a = [11,44,33,22,55]
#리스트는 순서가 굉장히 중요하다 하지만 sort는 그 순서를 부셔버리기 떄문에 
#사용에 주의를 줘야한다. 
a.sort(reverse=True)
print(a)

In [ ]:
#리스트 정렬 원본유지하기
aa = [66,77,88,99,0]
bb = sorted(aa)
cc = sorted(aa,reverse=True)
print(aa)
print(bb)
print(cc)

In [ ]:
#sorted 응용
fruit = ["banana","kiwi","orange","melon","apple","pear","strawberry","blueberry"]
result = sorted(fruit,key=len)
result2 = sorted(fruit,key=len,reverse=True)
print(fruit)
print(result)
print(result2)

In [ ]:
#리스트 뒤집기 reverse
a = [11,33,22,55,44]
a.reverse()
print(a)

In [ ]:
print("과일을 먹자")
for r in result:
    if r =="banana":
        print(r + "맛없다")
    if r != "banana":
        print(r+"는 맛있다")
print("다먹었다.")

In [2]:
#index 반환 
fruit = ["banana","kiwi","orange","melon","apple","pear","strawberry","blueberry"]
fruit.index("melon")

3

In [1]:
#index 응용
fruit = ["banana","kiwi","orange","melon","apple","pear","strawberry","blueberry"]
ab = input("먹고싶은 과일을 입력하세요!")
cd = fruit.index(ab)
print(f"{ab}를 좋아하시는 군요! 그것은 {cd+1}번에 있습니다")

먹고싶은 과일을 입력하세요! kiwi

kiwi를 좋아하시는 군요! 그것은 2번에 있습니다

In [4]:
#리스트에 요소 삽입 - insert
num = [11,22,33,55,66,77,88]
print(num)
num.insert(3,44)
#insert안에는 인자와 인수라고 함
# 앞에있는 수는 배열의 위치를 뜻 하고 뒤에있는 수는 그 배열에 어떤 수를 넣을지 정함
#그래서 저 의미는 3번에 44를 넣겠다 라는 뜻
print(num)

[11, 22, 33, 55, 66, 77, 88]
[11, 22, 33, 44, 55, 66, 77, 88]

In [4]:
ex=[]
ex.insert(0,"맨앞")
print(ex)
ex.insert(-1,"-1인덱스")
print(ex)
ex.insert(-1,"맨앞")
print(ex)
ex.insert(len(ex),"제일 끝")
print(ex)

['맨앞']
['-1인덱스', '맨앞']
['-1인덱스', '맨앞', '맨앞']
['-1인덱스', '맨앞', '맨앞', '제일 끝']

In [22]:
#리스트 요소 제거 remove
a = [1,2,3,1,2,3]
a.remove(2)
print(a)

[1, 3, 1, 2, 3]

In [ ]:
#리스트 요소 끄집어내기 pop
#맨마지막 요소를 리턴★하고 그 요소를 삭제한다. 
a = [1,2,3]

In [11]:
a = [1,2,3]
hand = a.pop() #리턴값을 받음
print(a)
print("받은거",hand)

[1, 2]
받은거 3

In [10]:
a = [1,2,3]
b = a.pop(1)
print(a)
print("받은거",b)

[1, 3]
받은거 2

In [13]:
#리스트의 포함된 요소의 개수세기 count
st = "안녕하세요."
print(st.count("요"))
a = [1,2,2,3,4,2,1,3,4,3,2,3,4,3,2]
b = a.count(2)
print(b)

1
5

In [18]:
#리스트 확장
a = [1,2,3]
a.extend([4,5])
print(a)
b = [11,22,33]
c = [44,55,66]
print(b+c)

[1, 2, 3, 4, 5]
[11, 22, 33, 44, 55, 66]

In [20]:
#장바구니
bag = []

In [32]:
bag = ["감자","호박","소주","맥주","피자"]
inp = input("필요한 항목을 넣어주세요")
bag.append(inp)
print(f"장바구니에는{bag}가 있습니다")

필요한 항목을 넣어주세요 두부

장바구니에는['파프리카', '호박', '감자', '감자', '감자', '두부']가 있습니다

In [27]:
#FIFO 출력(큐 출력)
hand = bag.pop(0)
print(f"{hand}을 꺼내서 장바구니에{bag}이(가) 남았습니다")

감자 을 꺼내서 장바구니에['파프리카']이(가) 남았습니다

In [40]:
bag = ["감자","호박","소주","맥주","피자"]
print(f"바구니에{bag} 물품이 있습니다")
inp3 = input("꺼내고 싶은 물품을 입력하세요")
hand2 = bag.pop(bag.index(inp3))
print(f"바구니안에 {hand2}을(를) 꺼내어 {bag}이(가) 남았습니다")

바구니에['감자', '호박', '소주', '맥주', '피자'] 물품이 있습니다

꺼내고 싶은 물품을 입력하세요 소주

바구니안에 소주을(를) 꺼내어 ['감자', '호박', '맥주', '피자']이(가) 남았습니다

In [35]:
# 테스트
choice = 33
a = [11,22,33,44,55,66]
hand = a.remove(33)
print(f"{choice}을(를) 제거하였습니다.")

33을(를) 제거하였습니다.

In [61]:
#실습
bag = ["감자","호박","소주","맥주","피자"]
#물품 하나를 추가하기 단, 지정한 물품 바로 뒤에 추가하기
test1 = input("물품을 지정해 주세요")
test2 = input("어느 물품 뒤에 넣어둘까요")
test4 = bag.index(test2)+1
test3 = bag.insert(test4,test1)
print(f"가방안에 {test1}을(를) 넣어서 {bag}순서가 되었습니다.")

물품을 지정해 주세요 와인
어느 물품 뒤에 넣어둘까요 감자

가방안에 와인을(를) 넣어서 ['감자', '와인', '호박', '소주', '맥주', '피자']순서가 되었습니다.

In [59]:
#풀이
bag = ["감자","호박","소주","맥주","피자"]
#물품 하나를 추가하기 단, 지정한 물품 바로 뒤에 추가하기
test1 = input("물품을 지정해 주세요")
test2 = input("어느 물품 뒤에 넣어둘까요")
bag.insert(bag.index(test2+)+1,test1)
print(bag)

물품을 지정해 주세요 팝콘
어느 물품 뒤에 넣어둘까요 감자

['팝콘', '감자', '호박', '소주', '맥주', '피자']

In [68]:
#테스트2
num = input("내가 누구게? 숫자를 입력하시오.")
print(int(num)+4, type(num))

내가 누구게? 숫자를 입력하시오. 4

8 <class 'str'>

In [71]:
# 환률 계산기 만들기 1450
test1 = input("원화로 계산할 달러를 입력하세요.")
print(f"요청하신{int(test1)}달러의 변환값은{int(test1)*1450:,}입니다.")

원화로 계산할 달러를 입력하세요. 125

요청하신125달러의 변환값은181,250입니다.

In [5]:
import requests
import json
url = "https://www.koreaexim.go.kr/site/program/financial/exchangeJSON?authkey=Ss3Ssdf7f5d4f58Xynn0lIksIqUYCrX9VrvuPyuuHT&data=AP01"
res = requests.get(url).text
#test1 = input("환율할려는 달러")
data = json.loads(res)
#print(type(data))
result = data[-1]["deal_bas_r"]
result2 = result.replace(",","")

print(f"미국 달러의 환율은 {float(result2)}입니다.")

미국 달러의 환율은 1460.8입니다.

In [ ]:
# 질문(출력글 삭제)
from IPython.display import clear_output
inp1 = input("질문1")
clear_output(wait=True)
inp2 = input("질문2")
clear_output(wait=True)
inp3 = input("질문3")
print(inp1)
print(inp2)
print(inp3)

In [140]:
#질문(부동소수)
0.1+0.2

0.30000000000000004

In [143]:
#from decimal import Decimal 더 정밀한 계산
rr = 1449.4*3
#result = Decimal(0.1+0.2)
print(round(rr,1))

4348.2

## 튜플 자료형

In [144]:
t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = 1,2,3 # 튜플은 특이하게도 괄호를 치지 않고도 리스트로 만들 수 있다.
t5 = ("a","b",("ab","cd"))

In [ ]:
#튜플의 요소값을 삭제할려고 할때
t1 = (1,2,3,4,5)
#del t1(1)
t1[0] = "c"
#튜플은 요소값을 변경 할 수 없기 때문에 변경 및 삭제를 할 경우 에러가 난다.

In [ ]:
dir(tuple)

In [150]:
#튜플 인덱싱
t1 = (1,2,3,4,5)
print(t1[1],t1[3])

2 4

In [151]:
# 튜플의 슬라이싱
print(t1[:3])

(1, 2, 3)

In [152]:
# 튜플 더하기
t1 = (1,2,3)
t2 = (4,5,6)
print(t1+t2)

(1, 2, 3, 4, 5, 6)

In [153]:
#튜플 곱하기
print(t1*2)

(1, 2, 3, 1, 2, 3)

## 딕셔너리 자료형

In [156]:
dic = {"name":"parksechan","number":"010-8904-3039","birth":"990904"}
print(dic["name"])
print(dic["number"])
print(dic["birth"])

parksechan
010-8904-3039
990904

In [158]:
al = [11,22,33,44,55]
at = 11,22,33,44,55
ad = {0:11,1:22,2:33,3:44,4:55}
print(al[0])
print(at[0])
print(ad[0])

11
11
11

In [165]:
# test
al = [11,22,33,44,55]
at = 11,22,33,44,55
for l in al:
    print(l)
print("="*10)
for t in at:
    print(t)

11
22
33
44
55
==========
11
22
33
44
55

In [166]:
a = {"aa":[1,2,3,4,5]}
print(a["aa"])

[1, 2, 3, 4, 5]

In [167]:
dic = {"aa":{"name":"parksechan","number":"010-9999-9999","birth":"999999"}}
print(dic["aa"])

{'name': 'parksechan', 'number': '010-8904-3039', 'birth': '990904'}

### 딕셔너리 쌍 추가, 삭제하기

In [171]:
# 딕셔너리 쌍 추가
dic = {"name":"parksechan","number":"010-9999-9999","birth":"999999"}
dic["address"] = "busan"
print(dic)

{'name': 'parksechan', 'number': '010-9999-9999', 'birth': '999999', 'address': 'busan'}

In [172]:
dic["array"] = [1,2,3,4]
print(dic)

{'name': 'parksechan', 'number': '010-9999-9999', 'birth': '999999', 'address': 'busan', 'array': [1, 2, 3, 4]}

### 딕셔너리 관련함수

In [177]:
# 딕셔너리 키 리스트, 값 리스트 만들기
a = {'name': 'parksechan', 'number': '010-9999-9999', 'birth': '999999', 'address': 'busan', 'array': [1, 2, 3, 4]}
# key 리스트 만들기 -keys
print(a.keys())
# values 리스트 만들기
print(a.values())
#key, values 쌍 얻기 - items
print(a.items())
print(a)
#key, values 쌍 모두 지우기 - clear
a.clear()
print(a)

dict_keys(['name', 'number', 'birth', 'address', 'array'])
dict_values(['parksechan', '010-9999-9999', '999999', 'busan', [1, 2, 3, 4]])
dict_items([('name', 'parksechan'), ('number', '010-9999-9999'), ('birth', '999999'), ('address', 'busan'), ('array', [1, 2, 3, 4])])
{'name': 'parksechan', 'number': '010-9999-9999', 'birth': '999999', 'address': 'busan', 'array': [1, 2, 3, 4]}
{}

In [184]:
a = {'name': 'parksechan', 'number': '010-9999-9999', 'birth': '999999', 'address': 'busan', 'array': [1, 2, 3, 4]}
for k in a.keys():
    print(k)

name
number
birth
address
array

In [ ]:
a = {'name': 'parksechan', 'number': '010-9999-9999', 'birth': '999999', 'address': 'busan', 'array': [1, 2, 3, 4]}
print(a.get("name"))
print(a.get("SUPER"))
print(a["MONEY"])
#get은  배열안에 없는 값을 none처리를 만든다. get을 지정 안하고없는데 없는 값을 칠경우 오류가 난다

In [191]:
# 딕셔너리 안에 있는지 조사 - in 배열안에 있는 수를 in 으로 지정하면 값이 있을 경우 참
# 값이 없을경우는 거짓을 출력한다.
a = {'name': 'parksechan', 'number': '010-9999-9999', 'birth': '999999', 'address': 'busan', 'array': [1, 2, 3, 4]}
print("name" in a)
print("super" in a)

True
False

In [200]:
al = [11,22,33,44,55]
at = 11,22,33,44,55
ad = {0:11,1:22,2:33,3:44,4:55}

print(22 in al) # 리스트
print(11 in at) # 튜플
print(1 in ad) # 딕셔너리 키
print(11 in ad)
#in의 또다른 특성 임마는 key만 찾는다.

True
True
True
False

In [3]:
dic = {"name":"홍길동","birth":"1128","age":"30"}
print(dic)

{'name': '홍길동', 'birth': '1128', 'age': '30'}

In [26]:
#실습 random 모듈

import random 
la = ["구내식당","후문편의점","자가도시락","굶기","과자"]

num1 = random.random()
print(f"0과 1사이의 랜덤 소수 {num1}")
num2 = random.randint(1,45)
print(f"1과 45사이의 랜덤 실수{num2}")
lunch = random.choice(la)
print(f"오늘 점심은 {lunch}을(를) 추천드립니다.")
deck = [1,2,3,4,5,6,7,8,9,10]
random.shuffle(deck)
print(deck)

0과 1사이의 랜덤 소수 0.2023610122982985
1과 45사이의 랜덤 실수35
오늘 점심은? 과자
[4, 7, 2, 8, 10, 3, 6, 9, 1, 5]

## 집합 자료형

In [42]:
s1 = set([1,2,3])
print(s1,type(s1))
s2 = set("hello")
print(s2,type(s2))
# 중괄호였던 딕셔너리와 마찬가지로 집합은 순서가 없다.
# 중복을 허용하지 않는다.

{1, 2, 3} <class 'set'>
{'l', 'o', 'h', 'e'} <class 'set'>

In [72]:
s1 = set([11,22,33,11,22])
l1 = list(s1)#집합이 리스트안에 들어가면 리스트화가 되었기 때문에 순서가 다시 생긴다.
l1.sort()
print(l1,type(l1))
t1 = tuple(s1)
print(t1,type(t1))

[11, 22, 33] <class 'list'>
(33, 11, 22) <class 'tuple'>

### 교집합, 차집합, 합집합 구하기

In [ ]:
# 교집합 구하기
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
print(s1&s2) #교집합을 구할 땐 집합을 &로 연결하면 된다.
s1.intersection(s2) #얘도 있다.

{4, 5, 6}

{4, 5, 6}

In [53]:
# 합집합 구하기
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
print(s1 | s2) # 합집합을 구할 땐 |(버티컬)표시를 사용하여 연결하면 된다.

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [55]:
# 차집합 구하기
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
print(s1-s2)
print(s2-s1) # 차집합은 -를 사용하고 문형을 쓸 때 차집합은 앞에거에 뒤에 거 중 겹치는걸 뺸다라는
#뜻이므로 순서에 따라 값이 다르게 출력되니 주의

{1, 2, 3}
{8, 9, 7}

### 집합 자료형 관련 함수

In [57]:
# 값 1개 추가하기
s1 = set([1,2,3])
s1.add(4)
print(s1)

{1, 2, 3, 4}

In [60]:
#값 여러개 추가하기
s1 = set([1,2,3])
s1.update([4,5,6])
print(s1)

{1, 2, 3, 4, 5, 6}

In [61]:
#특정 값 제거하기
s1 = set([1,2,3])
s1.remove(3)
print(s1)

{1, 2}

## 불 자료형

In [62]:
#True = 1 = 참
#False = 0 = 거짓
print(type(True))

<class 'bool'>

In [67]:
print(3 > 10)
print(3 < 10)
print(3==3)
print(3!=3)

False
True
True
False

In [114]:
#자료형의 참과 거짓
print(bool("python"))#문자열
print(bool(""))# 안에 들어가잇는게 없음 0이라는 뜻인데 0은 거짓임으로 False가 나온다
print(bool([1,2,3]))#리스트
print(bool([]))
print(bool((1,2,3)))#튜플
print(bool(()))
print(bool({"a":1}))#딕셔너리
print(bool({}))
print(bool(1))#0과 1
print(bool(0))
print(bool(None))#걍 None(앞자리 대문자 중요!)

True
False
True
False
True
False
True
False
True
False
False

In [2]:
#random 으로 스토리 생성기 만들기
import random
#등장인물
a = ["기사","고양이","로봇","마법사","탐정","강아지"]
#캐릭터
b = ["어두운 숲에서","먼 우주 행성에서","마법의 성에서","바닷속 도시에서", "나무가 울창한 숲에서"]
# 장소
c = ["숨겨진 보물을 발견했다","용과 싸웠다","비밀 통로를 발견했다","고대 미스터리를 풀었다","왕국을 위험에서 구하였다","죽었다"]
#사건

ch = random.choice(a)
ch2 = random.choice(a)
pl = random.choice(b)
pl2 = random.choice(b)
ev = random.choice(c)
ev2 = random.choice(c)
print(f"어느날, {ch}은(는) {pl} 모험을 하던 도중 {ev}.그리고 {ch2}은(는) {pl2} {ev2}")

어느날, 마법사은(는) 어두운 숲에서 모험을 하던 도중 왕국을 위험에서 구하였다.그리고 로봇은(는) 바닷속 도시에서 왕국을 위험에서 구하였다

{1, 2, 3}
{8, 9, 7}